doctype html
html
  head
    title Klabautermann Support File Analysis
    //link(rel='stylesheet', href='https://cdn.datatables.net/v/dt/dt-1.12.1/r-2.3.0/datatables.min.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Poppins&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css')
    link(rel='icon', href='images/barbarian.svg', type='image/svg+xml')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/datatable.css')
  body
    block content
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.0/jszip.min.js', integrity='sha512-xcHCGC5tQ0SHlRX8Anbz6oy/OullASJkEhb4gjkneVpGE3/QGYejf14CUO5n5q5paiHfRFTa9HKgByxzidw2Bw==', crossorigin='anonymous', referrerpolicy='no-referrer')
    //script(type='text/javascript', src='https://cdn.datatables.net/v/dt/dt-1.12.1/r-2.3.0/datatables.min.js')
    script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/jquery.fancytable/dist/fancyTable.min.js')
    script(src='javascripts/script.js')
